a.group.absolute.bottom-8.right-8.w-12.h-12.flex.items-center.justify-center.rounded-full.border.border-transparent.text-sm.font-medium.rounded-md.text-white.bg-indigo-600(href="/stories/add" class='hover:bg-indigo-700 focus:outline-none')
  i.fas.fa-plus.text-2xl