<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Internal Server Error
        link(rel="stylesheet", href="/style.css")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    body
        h1 Internal Server Error
        p  We're sorry, something went wrong
        a(href="/dashboard") | Go to Dashboard